/*---------------
      DEBUG
----------------*/

.debug .hero .custom-container{
    background-color: lightcoral;
    height: 100%;
    text-align: center;
}

.hero{
    height: 500px;
}

.debug .portfolio .col-12{
    background-color: lightsalmon;
    border: 1px solid red;
    height: 200px;
}

/*---------------
    CUSTOM
----------------*/
.custom-container{
    max-width: 600px;
    margin: auto;
}

/*---------------
    HEADER
----------------*/
header{
    height: 90px;
    background-color: #2c3e50;
}

.header-row{
    display: flex;
    justify-content: space-between;
}

/*---------------
    HERO
----------------*/
.hero{
    background-color: #1abc9c;
}

/*---------------
    ABOUT
----------------*/
.about{
    background-color: #1abc9c;
}

/*---------------
   CONTACT ME
----------------*/
.contact-me{
    display: flex;
    flex-direction: column;
}

/*---------------
     FOOTER
----------------*/
.footer-top{
    background-color: #3a546d;
}

.footer-bottom{
    background-color: #2c3e50;
    text-align: center;
}